/* Sugar-high syntax highlighting */
:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-property: #0550ae;
  --sh-entity: #249a97;
  --sh-jsxliterals: #6266d1;
  --sh-string: #00a99a;
  --sh-keyword: #f47067;
  --sh-comment: #a19595;
}

.dark {
  --sh-class: #8d85ff;
  --sh-identifier: #c9d1d9;
  --sh-sign: #8996a3;
  --sh-property: #79c0ff;
  --sh-entity: #6eafad;
  --sh-jsxliterals: #bf7db6;
  --sh-string: #7ee787;
  --sh-keyword: #ff7b72;
  --sh-comment: #8b949e;
}

